*{
	font-family: 'Audiowide';
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: -webkit-radial-gradient(center, ellipse cover,  #444 0%,#000000 90%); /* Chrome10+,Safari5.1+ */
	vertical-align: top;
	overflow: hidden;
}

#container {
	width: 80%;
	height: 80%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* ------------------- typewritting terminal ------------------- */

.type {
	width: 80%;
	height: 40px;
	border-radius: 10px;
	border: 2px solid #ffffff;
	margin: auto;
}

.type #terminal {
  padding: 0 10px;
  line-height: 40px;
	font-size: 16px;
	color: #ffffff;
	letter-spacing: 2px;
}

.type #terminal::before {
	content: ">";
	margin-right: 10px;
}

/* ------------------- solve buttons ------------------- */

.history {
  position: absolute;
  right: 10px;
  top: 0;
  display: flex;
  flex-direction: column;
}

.solve button {
	width: 200px;
	margin-bottom: 15px;
}

/* ------------------- twist buttons ------------------- */
.twist {
  position: absolute;
  top: 0;
  left: 10px;
  margin-top: 0;
	width: auto;
  height: 100%;
  overflow: auto;
}
.top-twist {    
  position: absolute;
  top: 0;
  left: 200px;
}

.twist h1 {
	margin: 10px auto 2px;
    text-align: center;
	color: #ffffff;
	font-size: 20px;
}

button {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 10px;
}

/* ------------------- buttons ------------------- */

button {
    min-width: 70px;
    height: 35px;
  color: #fff;
	border-radius: 10px;
	border: 2px solid;
  border-color: #fff;
	font-size: 16px;
	background: none;
	outline: none;
	cursor: pointer;
	transition: all .5s;
	overflow: hidden;
	position: relative;
}

button:before, button:after {
	content: "";
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 0;
	top: 0;
	background-color: #ffffff;
	transition: all .4s;
}

button:before {
	left: -15px;
	transform: skew(-45deg, 0);
}

button:after {
	right: -15px;
	transform: skew(-45deg, 0);
}

button:hover {
	color: #27323A;
}

button:hover:before, button:hover:after {
	width: 80%;
}


*::-webkit-scrollbar {
  width: 0.5em;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.history {
    color: wheat;
    width: 172px;
    height: 100%;
    overflow: auto;
}


.solution span {
    cursor: pointer;
}

.solution span:hover {
    text-decoration: underline;
}